*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    min-height: 100vh;
    padding: 40px 0px 0px 0px;
    background: url(imagenes/fondo.jpg) no-repeat center center/ cover;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

/* defualt styles  */
h1{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input{
    height: 20px;
    width: 20px;
}
input:hover{
    box-shadow: 1px 1px 1px darkgray;
}

button{
    cursor: pointer;
    transition: all .3s ease-in-out;
    outline: none;
    border: none;
    background-image: linear-gradient(-90deg,#68d391 , #ffaaee);
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
button:active {
    transform: scale(0.95) translateY(1px);
}

span{
    font-size: 15px;
}


/* DOM */
#lista-tareas{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60vw;
    max-width: 500px;
    height: 250px;
    padding: 10px;
    margin-top: 10px;
    overflow-y: auto;
    background-color: #f1f4ff;
    border: .1px solid #b9bbbb;
    border-radius: 5px;
}
#lista-tareas::-webkit-scrollbar{
    width: 8px;
}
#lista-tareas::-webkit-scrollbar-track{
    background-color: #b9bbbb;
    border-radius: 5px;
}
#lista-tareas::-webkit-scrollbar-thumb {
    background-color: rgb(172, 250, 203);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid rgb(0, 243, 129);  /* creates padding around scroll thumb */
  }
.tarea-pendiente{
    background-color: #68d391;
    background-color: #1D3D57;

    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f1f4ff;
}
.tarea-pendiente:hover{
    background-color: #29dc82;
    background-color: #0F2E45;
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px
}

.tarea-pendiente-caja{
    display: flex;
    gap: 10px;
}
.box-delete{
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    background-image: linear-gradient(-90deg,#c52d88 , #ed2c49);
    justify-content: center;
    align-items: center;
    color: #3c3b3e;
    box-shadow: -2px 2px 4px rgba(0,0,0,.1);
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.box-delete:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.9) 0px 1px 3px;
    
}
.tarea-completada{
    text-decoration: line-through rgba(242, 0, 255, 0.6) 2px ;
    color: #c5c6ca;
}

/* HTML */
.contenedor{
    background-color: white;
    max-width: 75vw;
    width: 700px;
    min-height: 500px;
    padding: 40px;
    border: 5px solid black;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#ingresar-tarea{
    height: 25px;
    padding-left: 10px;
    color: #3c3b3e;
    border: 1px solid darkgray;
    border-radius: 10px;
    width: 300px;
    margin: 10px ;
} 

.footer-autor{
    display: flex;
    gap: 10px;
    font-size: 20px;
    align-items: center;
    min-height: 100px;
}
.footer-autor span{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;

}
.footer-autor a{
    font-size: 30px;
    color: #f1f4ff;
    transition: all 600ms;
}

.footer-autor a:hover{
    transform: rotate(360deg); /* Aplica una rotación de 360 grados */
    font-size: 40px;

}